#submit{
    padding: 8px 20px;
    background-color:rgba(0, 187, 150, 1);
    border: solid 1px rgb(0, 187, 150);
    font-size: 12px;
    font-weight: 550;
    color: white;
    padding: 10px;
    margin-left: 25px;
}

#submit:hover{
    background-color:rgba(0, 187, 150, 0.5);
    font-weight: 700;
}