.home-button{
    height: 100%;
    border: none;
    background-color: rgba(34, 96, 200, 1);
}

.home-icon-style{
    color:white;
    padding: 0;
    font-size: 18px;
    transition: 0.066s;
}
.home-icon-style:hover{
    color: rgb(61,158,247);
}