@import '../../../../variables.scss';

.jammers-buttonsArea{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    .jammers-button{
        margin: 0 15px;
    }
}

.jammersSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .subSection-title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p{
            font-size: $midFont;
            margin: 0;
        }
    }
}


.guest-jammers-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    .guest-jammers-board{
        width: 70%;
        height: 100%;

    }
   
    .guest-jammers-list{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        overflow-y: scroll;
    }
}