@import '../../../../variables.scss';

.rooms-overview-wrapper{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .rooms-overview-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0; 
        .rooms-overview-header-title{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h4{
                font-size: $bigFont;
                margin: 0;
            };
        };
    };

    #rooms-info-chart{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        box-shadow: $shadow;
        border-radius: 15px;
        margin-bottom: 20px;
    
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: $buttonPrimary;
            color: white;
        }
        #number-column{
            text-align: center;
        }
        #vacant-cell{
            text-align: center;
        }
        td {
            font-family: $defaultFont;
            font-size: $smallFont;
            padding: 8px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
    
        tr:nth-child(even){background-color: #f2f2f2;}
        
        tr:hover {
            background-color: #ddd;
            cursor: pointer;
        }
    
    }

    .rooms-overview-header-buttonsArea{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;


        .addRoom-button{
            color: white;
            text-transform: uppercase;
            border: 1px solid $buttonPrimary;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:hover{
                cursor: pointer;
                box-shadow: $shadow;
            }

            p{ 
                color: $buttonPrimary;
                font-weight: 500;
                font-size: $smallFont;
                margin: 0 0 0 20px;
            }
            .addRoomIcon{
                color: $buttonPrimary;
            }
        }
    }

    .newRoomForm-wrapper{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: top;
        transition:transform 0.3s ease-out; 
    }

    .newRoomActive{
        transform:scaleY(1);
    }
}

