@import '../../../../variables.scss';

.rooms-overview-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .rooms-overview-header{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0; 
        .rooms-overview-header-title{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h4{
                font-size: $bigFont;
                margin: 0;
            };
        };

        .rooms-overview-header-buttonsArea{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
            position: absolute;
            top: 25px;
            right: 30px;

            .addRoom-button{
                background: $buttonPrimary;
                color: white;
                text-transform: uppercase;
                border: none;
                padding: 10px;
                font-size: 16px;
                font-weight: 100;
                letter-spacing: 5px;
                border-radius: 5px;
                p{ 
                    color: white;
                    margin: 0;
                }
                
                &:hover{
                    cursor: pointer;
                    background-color: $buttonPrimary-hover;
                }
            }
        }
    };

    #rooms-info-chart{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        box-shadow: $shadow;
        border-radius: 15px;
    
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: $buttonPrimary;
            color: white;
        }
        #number-column{
            text-align: center;
        }
        #vacant-cell{
            text-align: center;
        }
        td {
            font-family: $defaultFont;
            font-size: $smallFont;
            padding: 8px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
    
        tr:nth-child(even){background-color: #f2f2f2;}
        
        tr:hover {
            background-color: #ddd;
            cursor: pointer;
        }
    
    }

    .newRoomForm-wrapper{
        height: auto;
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: top;
        transition:transform 0.3s ease-out; 
    }

    .newRoomActive{
        transform:scaleY(1);
    }
}

