@import '../../../../variables.scss';

.add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    color: $buttonPrimary;
    border: 1px solid $buttonPrimary;
    border-radius: 5px;
    p{ 
        margin: 0 5px;
    }
    &:hover{
        cursor: pointer;
        color: $buttonPrimary-hover;
        box-shadow: $shadow
    }
}