.tenant-info-wrapper{
    width: 100%;
}
.tenant-form-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-header-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tenant-form-body{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .tenant-form-section{
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        .tenant-section-title{
            width: 100%;
            p{
                margin-left: 20px;
                margin-right: 20px;
                line-height: 35px;
                border-bottom: 1px solid rgb(134, 134, 134);
                font-weight: 700;
                text-transform: uppercase;
                color: rgb(134, 134, 134);
            }
        }
        .tenant-form-row{
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 10px 20px;
        }
        .tenant-form-dates-row{
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 10px 20px;
        }
        .chat-button{
            position: relative;
            top: 40px;
            right: 40px;
        }
        .button-area{
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 10px 0;
        }
    }
}





