@import '../../../variables.scss';


.tenant-info-wrapper{
    width: 100%;
    .tenant-form-body{
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .tenant-form-header{
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            .jammerName{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                h4{
                    margin: 0 10px 0 0;

                    font-size: 22px;
                    text-transform: uppercase;
                    color: $fBlue;
                }
            }
            .section-buttons{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .section-button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 15px;
                }
            }
        }
        .tenant-form-section{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 30px;
           
            .tenant-section-title{
                width: 95%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgb(134, 134, 134);
                .title-text{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    h4{
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
            .tenant-form-row{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: 10px 20px;
            }
            .tenant-form-dates-row{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: 10px 20px;
            }
    
            .button-area{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 10px 0;
            }
        }
    }
}






