@import '../../../variables.scss';

.landlord-rooms{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    // .landlord-rooms-list{
    //     margin-top: 2px;
    //     width: 100%;
    //     min-height: 50px;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     overflow-y: scroll;
    //     // background-color: rgb(255, 255, 255);
    //     // box-shadow: 0px 1px 21px -13px $lightGray;
    // }
    .landlord-room-info{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
    }

}

