@import '../../../variables.scss';

.login-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .login-hook-form {
    width: 30%;
    margin-bottom: 40px;
    .login-form-section{
        width: 100%;
        padding: 15px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .login-form-section-title{
            width: 100%;
            display:flex;
            justify-content: flex-start;
            align-items: flex-start;
            p{ 
                color: $fBlue;
                font-size: 18px;
            }
        }
        .login-form-line{
          width: 100%;
          display:flex;
          justify-content: space-between;
          align-items: center;
          .custom-input-block, .custom-input-block-street{
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 45%;
                .block-label{
                    width: 100%;
                    display:flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 200;
                    line-height: 2;
                    label {
                        text-align: left;
                        display: block;
                        color: black;
                        margin-bottom: 0;
                    }
                    .field-error{
                        display:flex;
                        justify-content: flex-start;
                        white-space: nowrap;
                        align-items: center;
                        overflow: show;
                        color: red;
                        margin-left: 10px;
                    }
                }
                input {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    border-radius: 4px;
                    border: 1px solid $charts;
                    padding: 10px 15px;
                    margin-bottom: 10px;
                    font-size: 14px;
                    width: 100%;
                }
                ::placeholder{
                    color: $lightGray;
                }
          }
        }
        .form-column{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .login-block-long{
            width: 100%;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .block-label{
              width: 100%;
              display:flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 14px;
              font-weight: 200;
              line-height: 2;
              label {
                text-align: left;
                display: block;
                color: black;
                margin-bottom: 0;
              }
              .field-error{
                display:flex;
                justify-content: flex-start;
                white-space: nowrap;
                align-items: center;
                overflow: show;
                color: red;
                margin-left: 10px;
              }
            }
            input {
              display: block;
              box-sizing: border-box;
              width: 100%;
              border-radius: 4px;
              border: 1px solid $charts;
              padding: 10px 15px;
              margin-bottom: 10px;
              font-size: 14px;
              width: 100%;
            }
            ::placeholder{
                color: $lightGray;
            }
          }
        }
      }
      .hook-form-buttonArea{
        width: 35%;
        padding: 15px;
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;
        button[type="submit"], input[type="submit"] {
            background: $button;
            color: white;
            text-transform: uppercase;
            border: none;
            padding: 15px;
            font-size: 16px;
            font-weight: 100;
            letter-spacing: 10px;
            border-radius: 5px;;
        }
        button[type="submit"]:hover, input[type="submit"]:hover {
            background:$button-hover;
        }
      }
  }
  .login-register-area{
    width: 30%;
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .register-button{
        background: $lightGray;
        color:$darkGray;
        text-transform: uppercase;
        border: none;
        padding: 10px;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 10px;
        border-radius: 5px;
        p{
          margin: 0;
        }
        &:hover{
          background: $purple;
          color: white;
        }
    }
  }
}
