
$prim: #282c34;
$sec: #ce440e;
$lightGray: #9c9896;
$hoverGray: rgb(244,245,246);
$active: rgc(235, 235, 235);
$charts: rgba(0, 0, 0, 0.16);
$shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
$button: rgb(85, 187, 151);
$button-hover: rgb(77, 172, 139);
$cancel: rgb(224, 224, 224);
$cancel-hover: rgb(213, 213, 213);

// fonts
$fBlue: rgb(34, 51, 83);


//messages
$messBack: rgb(240, 240, 240);
$messCol: rgb(125, 125, 125);
$lightBlue: rgb(87, 158, 240);
$blue: rgb(30, 131, 247);