
$prim: #282c34;
$sec: #ce440e;
$lightGray: rgb(232,234,237);
$darkGray: rgb(107, 107, 107);
$secondary: rgb(163, 37, 164);
$hoverGray: rgb(244,245,246);
$active: rgc(235, 235, 235);
$charts: rgba(0, 0, 0, 0.16);
$shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
$buttonPrimary: rgb(85, 187, 151);
$buttonPrimary-hover: rgb(77, 172, 139);
$cancel: rgb(224, 224, 224);
$cancel-hover: rgb(213, 213, 213);

// fonts
$fBlue: rgb(34, 51, 83);
$bigFont: 18px;
$midFont: 14px;
$smallFont: 12px;

$titleColor: #282c34;


//messages
$messBack: rgb(240, 240, 240);
$messCol: rgb(125, 125, 125);
$lightBlue: rgb(87, 158, 240);
$blue: rgb(30, 131, 247);