
$prim: #282c34;
$sec: #ce440e;
$lightGray: rgb(226,226,226);
$disabled: rgba(107, 107, 107, 0.8);
$darkGray: rgb(107, 107, 107);

// $secondary: rgb(163, 37, 164);
$secondary: rgb(93, 200, 130);
$primary: rgb(49, 55, 65);
$grayBack: rgb(209, 209, 209);
$hoverGray: rgb(244,245,246);
$active: rgc(235, 235, 235);
$charts: rgba(0, 0, 0, 0.16);
$shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
$buttonPrimary: rgb(85, 187, 151);
$buttonPrimary-hover: rgb(77, 172, 139);
$cancel: rgb(224, 224, 224);
$cancel-hover: rgb(213, 213, 213);
$checkIn: rgba(130, 174, 117, 1);
$checkOut: rgba(242, 127, 117, 1); ;
$anchorColor: rgb(65, 138, 223);
$backCream: rgba(240, 239, 235, 0.6);

// fonts
$fBlue: rgb(34, 51, 83);
$bigFont: 18px;
$subtitleFont: 16px;
$midFont: 14px;
$smallFont: 12px;
$extraSmallFont: 10px;
$defaultFont: arial;
$titleColor: #282c34;
$grayText: rgb(93, 93, 93);


//messages
$messBack: rgb(240, 240, 240);
$messCol: rgb(125, 125, 125);
$lightBlue: rgb(87, 158, 240);
$blue: rgb(30, 131, 247);

// charts
$headerBackground: rgba(77, 172, 139, 0.8)